html, body {
  font-family: Arial, sans-serif;
  background: #f8fafc;
}

h1 {
  font-size: 2.2rem;
  color: white;
  font-weight: bold;
}

h2 {
  font-weight: bold;
  margin-bottom: 30px;
  color: white;
  font-size: 2.2rem;
}

h3 {
  font-weight: bold;
  margin-bottom: 30px;
  color: #1e293b;
  font-size: 2rem;
}

h4 {
  font-weight: bold;
  margin-bottom: 30px;
  color: #1e40af;
  font-size: 1.6rem;
}

header {
  width: 100%;
  max-width: 1200px;
  margin: 0px auto;
  position: sticky;
  top: 0px;
  z-index: 1000;
  background: #1e40af;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80px;
  padding: 30px;
}

.burger {
  display: none;
}

nav a {
  color: white;
  text-decoration: none;
  padding: 15px;
  font-size: 1.2rem;
  font-weight: 500;
}
nav a:hover {
  color: #b4bfe4;
}

main {
  width: 100%;
  max-width: 1200px;
  margin: 0px auto;
  margin-bottom: 50px;
}

.professional {
  background: #3b82f6;
  height: 340px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.professional p {
  font-size: 1.1rem;
  color: white;
}
.professional button {
  width: 155px;
  background: white;
  border-radius: 5px;
  color: #1e40af;
  margin-top: 50px;
  padding: 10px;
  font-size: 1.2rem;
  font-weight: 600;
}
.professional button:hover {
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  background: #e0e7ff;
}

.our_services {
  width: 90%;
  margin: 70px auto;
}
.our_services h3 {
  text-align: center;
  margin-bottom: 50px;
}

.blocks_our_services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

.block {
  border-radius: 5px;
  background: white;
  -webkit-box-shadow: 0px 0px 11px -8px;
          box-shadow: 0px 0px 11px -8px;
  width: calc(33.3333333333% - 20px);
  padding: 30px;
}
.block:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.text {
  font-size: 1.2rem;
  line-height: 1.5;
}

.about_Us {
  width: 90%;
  margin: 0px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

.block_about_us {
  width: calc(50% - 15px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.picture {
  height: 300px;
  background: #dbeafe;
  border-radius: 5px;
}

footer {
  width: 100%;
  max-width: 1200px;
  margin: 0px auto;
  background: #1e293b;
  text-align: center;
  padding: 50px;
}
footer p {
  display: block;
  color: white;
  font-size: 1.1rem;
}

@media (max-width: 1000px) {
  .block {
    width: calc(50% - 15px);
  }
}
@media (max-width: 767px) {
  .block_about_us {
    width: 100%;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .picture {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  nav {
    display: none;
  }
  .burger {
    display: block;
    width: 25px;
    height: 25px;
    position: relative;
  }
  .burger span {
    background: white;
    height: 2px;
    width: 100%;
    position: absolute;
    top: 12px;
  }
  .burger:before,
  .burger:after {
    position: absolute;
    width: 100%;
    background: white;
    height: 2px;
    content: "";
    left: 0px;
  }
  .burger:before {
    top: 0px;
  }
  .burger:after {
    bottom: 0px;
  }
}
@media (max-width: 650px) {
  .block {
    width: 100%;
  }
}