@import 'reset', 'header', 'footer';

$colorImage: #f8d7da;
$colorBody: #fef6f6;

body {
	font-family: Arial, sans-serif;
	background: $colorBody;
}

h2 {
	@include title(2.2rem);
}

h3 {
	@include title(2rem);
}

h4 {
	@include title(1.7rem)
}

h5 {
	@include title(1.7rem, $colorH1);
}

main {
	max-width: $widthBody;
	width: 100%;
	margin: 50px auto;
}

.main {
	width: 90%;
	margin: 50px auto;
}

.InnDigExp {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 50px;
}

.image {
	height: 300px;
	background: $colorImage;
	border-radius: 8px;
}

.InnDigExp__block {
	width: 100%;
}

.text {
	@include text(1.3rem, $colorText);
}

.InnDigExp__text {
	margin: 20px 0px;
}

.InnDigExp_button {
	margin: 50px 0px 0px;
}

.learn {
	margin-left: 20px;
	background: $colorBody;
	border: 2px solid $colorH1;
	color: $colorH1
}

.product {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr;
	gap: 20px;
	margin: 70px auto;
}

.product__block {
	width: 100%;
	background: white;
	box-shadow: 0px 0px 10px -2px grey;
	padding: 20px;
	text-align: center;
	border-radius: 5px;

	img {
		height: 55px;
	}

	h4 {
		margin: 20px 0px;
	}

}

.product__text {
	font-size: 1.2rem;
}

.link-button__product {
	background: white;
	border: 1px solid $colorH1;
	color: $colorH1;
}

.product__button {
	margin: 30px 0px 15px;
}

.our-approach {
	display: grid;
	grid-template-columns: 1fr;
	gap: 30px;
}

.our-body {
	p {
		margin-top: 20px;
	}
}

.statistic {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 20px;

	h5 {
		margin-bottom: 20px;
	}

	p {
		font-size: 1rem;
	}
}

@media (min-width: 767px) {
	.product {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (min-width: 992px) {
	.InnDigExp {
		flex-direction: row-reverse;
		align-items: stretch;
	}

	.InnDigExp_button {
		margin: 50px 0px;
	}

	.image {
		height: auto;
		min-height: 100%;

	}

	.InnDigExp__block {
		width: calc(100% / 2 - 50px * 1 / 2);
	}

	.body {
		margin-top: 80px;
		align-items: center;
	}

	.product {
		grid-template-columns: repeat(3, 1fr);
	}

	.our-approach{
		grid-template-columns: repeat(2, 1fr);
	}

	.our-approach_ImBlock {
		grid-row: 1 / 3;

	}

	.statistic {
		grid-row: 2 / 3;
	}

	.our-body {
		grid-row: 1 / 2;
	}
}