body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
  padding: 0px 20px;
}

h1 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 25px;
  color: #333333;
}

h2 {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 25px;
  color: #2c3e6c;
}

h3 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 25px;
  color: #333333;
}

p {
  font-size: 1.2rem;
  color: #333333;
  line-height: 1.3;
}

header {
  padding: 20px 20px 0px;
  text-align: center;
  width: 100%;
  max-width: 1200px;
  margin: 0px auto 2.5rem;
  background-color: white;
  border-bottom: 1px solid #d1e7dd;
}
header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}
header nav a {
  color: #2c3e50;
  font-size: 1.2rem;
  font-weight: bold;
}

.welcome {
  width: 100%;
  max-width: 1200px;
  margin: 0px auto 2.5rem;
  background-color: #d1e7dd;
  border-radius: 8px;
  padding: 20px;
  text-align: center;
}
.welcome button {
  color: white;
  background-color: #2c3e50;
  border-radius: 5px;
  padding: 10px;
  margin-top: 30px;
  font-size: 1.2rem;
  width: 150px;
}

.block {
  width: 100%;
  max-width: 1200px;
  margin: 0px auto 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px;
}
.block div {
  width: 100%;
  padding: 20px;
  background-color: white;
  border-radius: 5px;
}

footer {
  width: 100%;
  max-width: 1200px;
  margin: 0px auto 2.5rem;
  background-color: #2c3e50;
  padding: 20px;
  text-align: center;
}
footer p {
  color: white;
  font-size: 1rem;
}

@media (min-width: 767px) {
  .block div {
    width: calc(50% - 10px);
  }
}
@media (min-width: 850px) {
  h2 {
    margin-bottom: 0px;
  }
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 20px;
  }
  header nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 20px;
  }
  h2 {
    text-align: left;
  }
}
@media (min-width: 992px) {
  .block div {
    width: calc(33.3333333333% - 13.3333333333px);
  }
}