* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

header {
  width: 100%;
  padding: 30px 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: white;
}

h1 {
  font-size: 2rem;
  color: #d23369;
  font-weight: bold;
}

.head_text {
  font-size: 1rem;
  color: #555555;
  line-height: 1.4;
  margin: 20px 0px 20px;
}

.navigator {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.link {
  font-size: 1.2rem;
  color: #2a2a2a;
  line-height: 1.4;
  text-align: center;
}

.navigator__link {
  margin: 10px 15px;
}
.navigator__link:hover {
  color: #d23369;
}

.link-button {
  font-size: 1.1rem;
  color: white;
  line-height: 1.4;
  background: #d23369;
  border-radius: 3px;
  padding: 10px 20px;
  font-weight: bold;
}
.link-button:hover {
  background: #b52a5a;
  color: white;
}

@media (min-width: 767px) {
  header {
    max-width: 1400px;
    width: 100%;
    margin: 0px auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .navigator {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .navigator__link {
    margin: 0px 15px;
  }
  .navigator__link_active {
    margin-right: 0px;
  }
  .head_text {
    margin-bottom: 0px;
  }
  .product {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }
}
h6 {
  font-size: 1.4rem;
  color: black;
  font-weight: bold;
}

footer {
  background: #2a2a2a;
  max-width: 1400px;
  width: 100%;
  margin: 20px auto 0px;
}
footer .footer-text {
  font-size: 1rem;
  text-align: center;
  color: #bbbbbb;
}

.footer-body {
  width: 90%;
  margin: 50px auto;
  padding: 30px 0px;
}
.footer-body p, .footer-body a {
  color: #bbbbbb;
  text-align: left;
}

.footer-block {
  margin: 30px 0px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  gap: 30px;
  border-bottom: 1px solid #bbbbbb;
  padding-bottom: 50px;
}
.footer-block h4, .footer-block h6 {
  color: white;
  margin-bottom: 20px;
}

.quick-links .footer-navigator {
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.quick-links .footer-navigator a {
  margin: 5px 0px;
  font-size: 1.2rem;
}

.contact p {
  margin-bottom: 10px;
}
.contact div {
  margin-top: 40px;
}

@media (min-width: 767px) {
  .footer-block {
    -ms-grid-columns: 2fr (1fr)[2];
    grid-template-columns: 2fr repeat(2, 1fr);
  }
}
body {
  font-family: Arial, sans-serif;
  background: #fef6f6;
}

h2 {
  font-size: 2.2rem;
  color: black;
  font-weight: bold;
}

h3 {
  font-size: 2rem;
  color: black;
  font-weight: bold;
}

h4 {
  font-size: 1.7rem;
  color: black;
  font-weight: bold;
}

h5 {
  font-size: 1.7rem;
  color: #d23369;
  font-weight: bold;
}

main {
  max-width: 1400px;
  width: 100%;
  margin: 50px auto;
}

.main {
  width: 90%;
  margin: 50px auto;
}

.InnDigExp {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 50px;
}

.image {
  height: 300px;
  background: #f8d7da;
  border-radius: 8px;
}

.InnDigExp__block {
  width: 100%;
}

.text {
  font-size: 1.3rem;
  color: #555555;
  line-height: 1.4;
}

.InnDigExp__text {
  margin: 20px 0px;
}

.InnDigExp_button {
  margin: 50px 0px 0px;
}

.learn {
  margin-left: 20px;
  background: #fef6f6;
  border: 2px solid #d23369;
  color: #d23369;
}

.product {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  gap: 20px;
  margin: 70px auto;
}

.product__block {
  width: 100%;
  background: white;
  -webkit-box-shadow: 0px 0px 10px -2px grey;
          box-shadow: 0px 0px 10px -2px grey;
  padding: 20px;
  text-align: center;
  border-radius: 5px;
}
.product__block img {
  height: 55px;
}
.product__block h4 {
  margin: 20px 0px;
}

.product__text {
  font-size: 1.2rem;
}

.link-button__product {
  background: white;
  border: 1px solid #d23369;
  color: #d23369;
}

.product__button {
  margin: 30px 0px 15px;
}

.our-approach {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  gap: 30px;
}

.our-body p {
  margin-top: 20px;
}

.statistic {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 20px 1fr 20px 1fr;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.statistic h5 {
  margin-bottom: 20px;
}
.statistic p {
  font-size: 1rem;
}

@media (min-width: 767px) {
  .product {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 992px) {
  .InnDigExp {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
  .InnDigExp_button {
    margin: 50px 0px;
  }
  .image {
    height: auto;
    min-height: 100%;
  }
  .InnDigExp__block {
    width: calc(50% - 25px);
  }
  .body {
    margin-top: 80px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .product {
    -ms-grid-columns: (1fr)[3];
    grid-template-columns: repeat(3, 1fr);
  }
  .our-approach {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }
  .our-approach_ImBlock {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1/3;
  }
  .statistic {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
  .our-body {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
}