$colorH1: #4f46e5;
$width: 1440px;
$colorNav: #1e293b;
$colorNavActive: #4338ca;

@mixin title($size:2rem, $color: black) {
	font-size: $size;
	color: $color;
	font-weight: bold;
	line-height: 1.3;
}

@mixin text($size:1rem, $color: black) {
	font-size: $size;
	color: $color;
	line-height: 1.4;
}

header {
	max-width: $width;
	margin: 0px auto;
	width: 100%;
	background: white;
	padding: 30px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
}

.h1 {
	@include title(1.8rem, $colorH1);
}

.header-nav {
	display: none;
}

.burger {
	width: 20px;
	height: 20px;
	border-top: 2px solid black;
	border-bottom: 2px solid black;
	position: relative;

	div {
		width: 100%;
		background: black;
		height: 2px;
		position: absolute;
		top: 7px;
	}
}

@media (min-width: 767px) {
	.burger {
		display: none;
	}

	.header-nav {
		display: block;
	}

	.header-nav__link {
		@include text(1.1rem, $colorNav);
		margin-left: 5px;
		padding: 8px 15px;
		text-align: center;

		&:hover {
			color: $colorH1;
		}
	}

	.header-nav__link_active {
		color: white;
		background: $colorH1;
		border-radius: 5px;
		font-weight: bold;

		&:hover {
			background: $colorNavActive;
			color: white;
		}
	}

}