body {
  background-color: #faf5ff;
  font-family: Arial, sans-serif;
}

header {
  width: 90%;
  margin: 30px auto;
  text-align: center;
  background-color: #8a4fff;
  border-radius: 10px;
  padding: 50px 0px 30px;
}
header p {
  font-size: 1.1rem;
  color: #d8c4ff;
}

h1 {
  font-size: 2.7rem;
  color: #ffffff;
  margin-bottom: 20px;
  font-weight: bold;
}

h2 {
  font-size: 2rem;
  font-weight: bold;
  color: black;
  margin-bottom: 20px;
  font-weight: bold;
}

h3 {
  color: #8a4fff;
  font-size: 1.5rem;
  margin-bottom: 20px;
  font-weight: bold;
}

.text {
  font-size: 1.2rem;
  line-height: 1.4;
  color: black;
}

main {
  width: 90%;
  margin: 30px auto;
}

section {
  margin-bottom: 30px;
}

.welcome {
  border-radius: 10px;
  padding: 50px 30px 30px;
  background-color: #ffffff;
  text-align: center;
}

.learn {
  margin-top: 20px;
  color: white;
  background-color: #8a4fff;
  border-radius: 5px;
  width: 150px;
  height: 50px;
  font-size: 1.3rem;
}
.learn:hover {
  background-color: #7b3aff;
}

.details {
  font-size: 1.1rem;
  color: #8a4fff;
  background-color: #ffffff;
  width: 80px;
  height: 30px;
  border-radius: 5px;
  border: 1px solid #8a4fff;
  margin-top: 20px;
}
.details:hover {
  background-color: #8a4fff;
  color: #ffffff;
}

.cell {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.cell div {
  border-radius: 10px;
  padding: 50px 30px 30px;
  background-color: #ffffff;
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}

.main {
  border-radius: 10px;
  padding: 50px 30px 30px;
  background-color: #ffffff;
}

.block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.block div {
  width: 100%;
  height: 100px;
  background-color: #f0e5ff;
  border-radius: 5px;
  margin-top: 20px;
}

footer {
  text-align: center;
  margin: 50px auto;
  padding: 20px;
  color: #796692;
}

@media (min-width: 767px) {
  .cell {
    gap: 20px;
  }
  .cell div {
    width: calc(50% - 10px);
    margin-bottom: 0px;
  }
  .block {
    gap: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .block div {
    width: calc(50% - 10px);
    margin-top: 0px;
  }
  .main p {
    margin-bottom: 20px;
  }
}
@media (min-width: 992px) {
  header {
    max-width: 1100px;
    min-width: 800px;
  }
  main {
    max-width: 1100px;
    min-width: 800px;
  }
  .cell div {
    width: calc(33.3333333333% - 13.3333333333px);
  }
  .block div {
    width: calc(33.3333333333% - 13.3333333333px);
  }
}