body {
  font-family: Arial, sans-serif;
  background-color: #f5f9ff;
  padding: 0px 30px;
}

header {
  max-width: 1200px;
  width: 100%;
  margin: 30px auto;
  padding: 40px;
  background-color: #3a7bd5;
  border-radius: 8px;
  text-align: center;
}
header p {
  font-size: 1.2rem;
  color: #e8effa;
}

h1 {
  color: white;
  font-size: 2.4rem;
  font-weight: bold;
  margin-bottom: 20px;
}

h2 {
  color: #3a7bd5;
  font-weight: bold;
  margin-bottom: 20px;
  font-size: 1.8rem;
}

h3 {
  font-weight: bold;
  margin-bottom: 20px;
  color: #3a7bd5;
  font-size: 1.5rem;
}

main {
  max-width: 1200px;
  width: 100%;
  margin: 30px auto;
}

.welcome {
  text-align: center;
  padding: 35px;
  border-radius: 8px;
  background-color: white;
  -webkit-box-shadow: 0px 0px 10px -7px;
          box-shadow: 0px 0px 10px -7px;
}

.start {
  margin-top: 30px;
  width: 170px;
  color: white;
  height: 40px;
  border-radius: 8px;
  background-color: #3a7bd5;
  font-size: 1.3rem;
  font-weight: bold;
}
.start:hover {
  background-color: #2a5ba7;
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.text {
  font-size: 1.2rem;
  line-height: 1.4;
}

.service {
  text-align: center;
  margin: 30px auto;
}

.service_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.service_block div {
  padding: 35px;
  border-radius: 8px;
  background-color: white;
  -webkit-box-shadow: 0px 0px 10px -7px;
          box-shadow: 0px 0px 10px -7px;
  width: 100%;
}
.service_block div:hover {
  -webkit-transform: translateY(-4px);
          transform: translateY(-4px);
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.view {
  margin-top: 30px;
  border: 1px solid #3a7bd5;
  border-radius: 5px;
  width: 80px;
  height: 30px;
  font-size: 1.1rem;
  background-color: white;
  color: #3a7bd5;
}
.view:hover {
  background-color: #3a7bd5;
  color: white;
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px;
}
.contact div {
  padding: 35px;
  border-radius: 8px;
  background-color: white;
  -webkit-box-shadow: 0px 0px 10px -7px;
          box-shadow: 0px 0px 10px -7px;
  width: 100%;
}

footer {
  max-width: 1200px;
  width: 100%;
  margin: 30px auto;
  padding-bottom: 20px;
}
footer div {
  text-align: center;
  padding: 35px;
  border-radius: 8px;
  background-color: white;
  -webkit-box-shadow: 0px 0px 10px -7px;
          box-shadow: 0px 0px 10px -7px;
  color: #7a6666;
}

@media (min-width: 767px) {
  .service_block div {
    width: calc(50% - 40px);
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}
@media (min-width: 992px) {
  .service_block div {
    width: calc(25% - 26.6666666667px);
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  .contact div {
    width: calc(50% - 40px);
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}