@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

header {
  max-width: 1440px;
  margin: 0px auto;
  width: 100%;
  background: white;
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
}

.h1 {
  font-size: 1.8rem;
  color: #4f46e5;
  font-weight: bold;
  line-height: 1.3;
}

.header-nav {
  display: none;
}

.burger {
  width: 20px;
  height: 20px;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  position: relative;
}
.burger div {
  width: 100%;
  background: black;
  height: 2px;
  position: absolute;
  top: 7px;
}

@media (min-width: 767px) {
  .burger {
    display: none;
  }
  .header-nav {
    display: block;
  }
  .header-nav__link {
    font-size: 1.1rem;
    color: #1e293b;
    line-height: 1.4;
    margin-left: 5px;
    padding: 8px 15px;
    text-align: center;
  }
  .header-nav__link:hover {
    color: #4f46e5;
  }
  .header-nav__link_active {
    color: white;
    background: #4f46e5;
    border-radius: 5px;
    font-weight: bold;
  }
  .header-nav__link_active:hover {
    background: #4338ca;
    color: white;
  }
}
footer {
  width: 100%;
  max-width: 1440px;
  background: #1e293b;
  padding: 50px 30px;
  margin: 0px auto;
}

.footer-body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  gap: 70px;
  padding-bottom: 30px;
  border-bottom: 1px solid #77748b;
}

.information-title {
  font-size: 1.8rem;
  color: white;
  font-weight: bold;
  line-height: 1.3;
}

.information-title__text {
  margin-bottom: 20px;
}

.product-title {
  font-size: 1.6rem;
  color: white;
  font-weight: bold;
  line-height: 1.3;
}

.product-menu {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  gap: 15px;
}

.footer-link {
  font-size: 1.1rem;
  color: #77748b;
  line-height: 1.4;
}
.footer-link:hover {
  color: white;
}

.footer-—Åopyright {
  font-size: 1.1rem;
  color: #77748b;
  line-height: 1.4;
  padding-top: 40px;
  text-align: center;
}

@media (min-width: 500px) {
  .footer-body {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 767px) {
  .footer-body {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[4];
    grid-template-columns: repeat(4, 1fr);
  }
}
body {
  font-family: Arial, sans-serif;
  background: #f8fafc;
}

main {
  width: 100%;
  max-width: 1440px;
  margin: 0px auto;
}

.transform {
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
}

.transform__block {
  width: 100%;
}

.image {
  height: 300px;
  background: #c7d2fe;
  border-radius: 8px;
}

.h2 {
  font-size: 2.5rem;
  color: black;
  font-weight: bold;
  line-height: 1.3;
}

.text {
  font-size: 1.3rem;
  color: #77748b;
  line-height: 1.4;
}

.transform-body__text {
  margin: 20px 0px;
}

.get {
  background: #4f46e5;
  font-size: 1rem;
  color: white;
  line-height: 1.4;
  border-radius: 5px;
}

.transform-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  font-weight: 600;
  text-align: center;
}

.transform-button__text {
  padding: 8px 15px;
  flex-basic: 100%;
}

.watch {
  background: white;
  font-size: 1rem;
  color: #4f46e5;
  line-height: 1.4;
  border: 1px solid #4f46e5;
  border-radius: 5px;
}
.watch:hover {
  background: #eef2ff;
}

.transform-body {
  margin: 60px 0px 30px;
}

.features {
  background: white;
  padding: 50px;
  text-align: center;
}

.h6 {
  font-size: 1.2rem;
  color: #4f46e5;
  font-weight: bold;
  line-height: 1.3;
}

.h3 {
  font-size: 2.2rem;
  color: black;
  font-weight: bold;
  line-height: 1.3;
}

.features__title {
  margin: 20px 0px;
}

.row {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  gap: 20px;
}

.column {
  width: 100%;
  background: #f8fafc;
  border: 1px solid #e2e8f0;
  border-radius: 8px;
}
.column img {
  height: 45px;
  margin-bottom: 20px;
}

.column_active {
  padding: 30px;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}
.column_active:hover {
  -webkit-box-shadow: 0px 2px 10px #e2e8f0;
          box-shadow: 0px 2px 10px #e2e8f0;
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.h4 {
  font-size: 1.6rem;
  color: black;
  font-weight: bold;
  line-height: 1.3;
}

.column_text {
  margin: 20px 0px 30px;
  font-size: 1.1rem;
}

.integration {
  margin-bottom: 30px;
}

.list {
  margin-bottom: 30px;
}
.list span {
  margin-right: 15px;
  font-weight: bold;
  font-size: 1.3rem;
  color: #4f46e5;
}
.list li {
  margin-bottom: 15px;
}

.people {
  background: #e2e8f0;
}

.row-people {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  gap: 20px;
}

.column-people {
  background: white;
  border-radius: 8px;
  text-align: left;
}

.column-people__body {
  padding: 30px;
}

.column-people__text-body {
  font-weight: 600;
  font-style: italic;
  margin-bottom: 40px;
}

.h5 {
  font-size: 1.2rem;
  color: black;
  font-weight: bold;
  line-height: 1.3;
}

.column-people__text {
  font-size: 1.1rem;
  margin: 20px 0px;
}

.start {
  background: #4f46e5;
  text-align: center;
  padding: 70px 0px;
}

.start__title {
  color: white;
  margin-bottom: 20px;
}

.start__text {
  color: #f8fafc;
}

.start-button {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
}

.start-link {
  font-size: 1rem;
  color: white;
  line-height: 1.4;
  padding: 8px 15px;
  font-weight: bold;
}

.sign-link:hover {
  background: #4338ca;
  border-radius: 5px;
}

.contact-link:hover {
  background: white;
  border-radius: 5px;
  color: #4f46e5;
}

@media (min-width: 500px) {
  .transform-button {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .transform-button__text {
    flex-basic: auto;
  }
}
@media (min-width: 767px) {
  .row {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 992px) {
  .transform {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .transform__block {
    width: calc(50% - 15px);
  }
  .image {
    height: auto;
  }
  .row {
    -ms-grid-columns: (1fr)[3];
    grid-template-columns: repeat(3, 1fr);
  }
  .integration {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .row-people {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }
}