@import 'reset';

$colorH1: #d4af37;
$colorLine: #453e26;
$colorBackHeader: #222222;

@mixin title($size: 2rem, $color: white) {
	font-size: $size;
	color: $color;
}

@mixin text($size: 1.2rem, $color: black) {
	color: $color;
	font-size: $size;
}

body {
	font-family: 'Times New Roman', serif;
}

.wrapper {
	display: grid;
	grid-template-columns: 1fr;
	width: 100%;
}

a {
	text-decoration: none;
}

header {
	padding: 30px 20px;
	background: $colorBackHeader;

	.first_header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		}

	nav {
		display: none;
	}

	p {
		display: none;
	}

}

.burger {
	width: 20px;
	height: 20px;
	border-top: 2px solid $colorH1;
	border-bottom: 2px solid $colorH1;
	position: relative;

	span {
		position: absolute;
		width: 100%;
		top: 5.5px;
		background: $colorH1;
		height: 2px;
	}
}

h1 {
	@include title(2rem, $colorH1);
	font-weight: bold;
}

h2 {
	@include title(3rem);
	font-weight: bold;
}

h3 {
	@include title(2rem, black);
	font-weight: bold;
}

h4 {
	@include title(1.5rem, black);
	font-weight: bold;
}

main {
	width: 100%;
	background: #f8f5f0;
}

.time {
	width: 100%;
	padding: 100px 40px 50px;
	background: repeating-linear-gradient(to right,#1a1a1a 0%, #1a1a1a 50%, #2c291d 50%, #2c291d 100%);

	p {
		font-size: 1.3rem;
		margin: 30px 0px 40px;
		color:white;
	}

	a {
		display: block;
		background: $colorH1;
		width: 200px;
		text-align: center;
		padding: 15px;
		@include text;
		font-weight: bold;

		&:hover {
			transform: translateY(-2px);
			transition-duration: 0.5s;
			background: #c9a227;
		}
	}
}

.collection {
	padding: 80px 30px 40px;
	width: 100%;
}

.collection_line {
	background: $colorH1;
	width: 50px;
	height: 3px;
	margin-top: 15px;
}

.collection_block{
	display: grid;
	gap: 30px;
	grid-template-columns: 1fr;
	margin-top: 30px;

	.block {
		background: white;

		&:hover {
			transform: translateY(-8px);
			transition-duration: 0.5s;
		}

		p {
			@include text(1.1rem, #666666);
			margin-top: 30px;
		}
	}
}

.color {
			height: 300px;
		}

.text_block {
	padding: 30px;
}

.color_block1 {
	background: #e6d5b8;
}

.color_block2 {
	background: #d4c9a8;
}

.color_block3 {
	background: #c2b897;
}

.Craftsmanship {
	display: grid;
	grid-template-columns: 1fr;
}

.Craftsmanship_text {
	background: $colorBackHeader;
	padding: 50px 30px 30px;

	h3 {
		color: white;
	}

	p {
		@include text(1.2rem, white);
		margin: 30px 0px 50px;
	}

	a {
		display: block;
		background: $colorBackHeader;
		width: 150px;
		text-align: center;
		padding: 15px;
		@include text;
		font-weight: bold;
		color: $colorH1;
		border: 2px solid $colorH1;
		transition-duration: 0.5s;

		&:hover {
			background: $colorH1;
			color: $colorBackHeader;
			
		}
	}
}

.Craftsmanship_color {
	background: #d4c9a8;
	min-height: 300px;
}

.newsletter {
	padding: 50px 30px 30px;
	width: 100%;
	text-align: center;

	p {
		@include text(1.1rem, #666666);
		margin: 30px 0px;
	}
}

.email {
	max-width: 500px;
	display: grid;
	grid-template-columns: 1fr;
	gap: 10px;
	margin: 0px auto;

	input {
		padding: 15px;
		font-size: 1.1rem;

		&:focus {
			border: 2px solid black;
			border-radius: 3px;
		}
	}

	button {
		padding: 15px;
		@include text(1.1rem, white);
		background: $colorBackHeader;
		transition-duration: 0.5s;

		&:hover {
			background: $colorH1;
		}
	}
}

@media (min-width: 500px) {
	.email {
		grid-template-columns: 3fr 1fr;
		gap: 0px;
	}
}

@media (min-width: 767px) {
	.wrapper {
		grid-template-columns: 250px auto;
	}

	header {
		display: flex;
		flex-direction: column;
			justify-content: space-between;
			align-items: flex-start;

		.second_header {
			width: 100%;
		}

		.first_header {
			flex-direction: column;
			justify-content: space-between;
			align-items: flex-start;
		}

		nav {
			width: 100%;
			display: block;
			display: flex;
			flex-direction: column;
			margin-top: 30px;

			a {
				@include title(1.3rem, $colorH1);
				margin-bottom: 10px;
				padding: 10px 0px;
				border-bottom: 1px solid $colorLine;

				&:hover {
					color: white;
				}

			}
		}

		p {
			display: inline-block;
			@include title(1rem, $colorH1);
			position: absolute;
			button: 0px
		}

	}

	.act {
		color: white;
	}

	.burger {
		display: none;
	}
}

@media (min-width: 1000px) {
	.collection_block {
		grid-template-columns: repeat(2, 1fr);
	}

	.Craftsmanship{
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (min-width: 1300px) {
	.collection_block {
		grid-template-columns: repeat(3, 1fr);
	}
}