$colorTitle: #8a4fff;
$colorWhite: #ffffff;

@mixin bodyWidth {
	width: 90%;
	margin: 30px auto;
}

@mixin title{
	margin-bottom: 20px;
	font-weight: bold;
}

@mixin selectorView {
	border-radius: 10px;
	padding: 50px 30px 30px;
	background-color: $colorWhite;

}

body {
	background-color: #faf5ff;
	font-family: Arial, sans-serif;
}

header {
	@include bodyWidth;
	text-align: center;
	background-color: $colorTitle;
	border-radius: 10px;
	padding: 50px 0px 30px;

	p {
		font-size: 1.1rem;
		color: #d8c4ff;
	}
}

h1 {
	font-size: 2.7rem;
	color: $colorWhite;
	@include title;
}

h2 {
	font-size: 2rem;
	font-weight: bold;
	color: black;
	@include title;
}

h3 {
	color: $colorTitle;
	font-size: 1.5rem;
	@include title;
}

.text {
	font-size: 1.2rem;
	line-height: 1.4;
	color: black;
}

main {
	@include bodyWidth;
}

section {
	margin-bottom: 30px;
}

.welcome {
	@include selectorView;
	text-align: center;
}

.learn {
	margin-top: 20px;
	color: white;
	background-color: $colorTitle;;
	border-radius: 5px;
	width: 150px;
	height: 50px;
	font-size: 1.3rem;

	&:hover {
		background-color: #7b3aff;
	} 
}

.details {
	font-size: 1.1rem;
	color: $colorTitle;
	background-color: $colorWhite;
	width: 80px;
	height: 30px;
	border-radius: 5px;
	border: 1px solid $colorTitle;
	margin-top: 20px;

	&:hover {
		background-color: $colorTitle;
		color: $colorWhite;
	}
}

.cell {
	display: flex;
	flex-wrap: wrap;

	div {
		@include selectorView;
		width: 100%;
		text-align: center;
		margin-bottom: 20px;
	}
}

.main {
	@include selectorView;

}

.block {
	display: flex;
	flex-wrap: wrap;

	div {
		width: 100%;
		height: 100px;
		background-color: #f0e5ff;
		border-radius: 5px;
		margin-top: 20px;
	}
}

footer {
	text-align: center;
	margin: 50px auto;
	padding: 20px;
	color: #796692;
}

@media (min-width: 767px) {
	.cell {
		gap: 20px;
	div {
		width: calc(100% / 2 - 20px * 1 /2);
		margin-bottom: 0px;
	}
}

.block {
	gap: 20px;
	display: flex;
	flex-wrap: wrap;
	div {
		width: calc(100% / 2 - 20px * 1 /2);
		margin-top: 0px;
	}
}

.main p{
		margin-bottom: 20px;
	}
}

@media (min-width: 992px) {
	header {
		max-width: 1100px;
		min-width: 800px;
	}

	main {
		max-width: 1100px;
		min-width: 800px;
	}

	.cell {

	div {
		width: calc(100% / 3 - 20px * 2 /3);
	}
}

.block {

	div {
		width: calc(100% / 3 - 20px * 2 /3);
	}

}
}

