$colorFont: #3a7bd5;


@mixin title {
	font-weight: bold;
	margin-bottom: 20px;
}

@mixin blockDiv {
	padding: 35px;
	border-radius: 8px;
	background-color: white;
	box-shadow: 0px 0px 10px -7px;
}

@mixin buttonMargin{
	margin-top: 30px;
}

@mixin transformObj ($px: -2px, $time: 0.3s) {
	transform: translateY($px);
	transition-duration: $time;
	
}

@mixin widthBody{
	max-width: 1200px;
	width: 100%;
	margin: 30px auto;
}

body {
	font-family: Arial, sans-serif;
	background-color: #f5f9ff;
	padding: 0px 30px;
}

header {
	@include widthBody;
	padding: 40px;
	background-color: $colorFont;
	border-radius: 8px;
	text-align: center;

	p {
		font-size: 1.2rem;
		color: #e8effa;
	}
}

h1 {
	color: white;
	font-size: 2.4rem;
	@include title;
}

h2 {
	color: $colorFont;
	@include title;
	font-size: 1.8rem;
}

h3 {
	@include title;
	color: $colorFont;
	font-size: 1.5rem;
}

main{
	@include widthBody;
}

.welcome {
	text-align: center;
	@include blockDiv;
}

.start {
	@include buttonMargin;
	width: 170px;
	color: white;
	height: 40px;
	border-radius: 8px;
	background-color: $colorFont;
	font-size: 1.3rem;
	font-weight: bold;

	&:hover {
		background-color: #2a5ba7;
		@include transformObj();
	}
}

.text {
	font-size: 1.2rem;
	line-height: 1.4;
}

.service {
	text-align: center;
	margin: 30px auto;
}

.service_block {
	display: flex;
	gap: 20px;
	flex-wrap: wrap;

	div {
		@include blockDiv;
		width: 100%;

		&:hover {
			@include transformObj(-4px, 0.5s);
		}
	}
}

.view {
	@include buttonMargin;
	border: 1px solid $colorFont;
	border-radius: 5px;
	width: 80px;
	height: 30px;
	font-size: 1.1rem;
	background-color: white;
	color: $colorFont;

	&:hover {
		background-color: $colorFont;
		color: white;
	}
}

.contact {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;

	div {
		@include blockDiv;
		width: 100%;
	}
}

footer {
	@include widthBody;
	padding-bottom: 20px;
	div {
		text-align: center;
		@include blockDiv;
		color: #7a6666;
	}
}

@media (min-width: 767px) {
	.service_block {
		div {
			width: calc(100% / 2 - 20px / 1 * 2);
			flex-grow: 1;
		}
	}
}

@media (min-width: 992px) {
	.service_block {
		div {
			width: calc(100% / 4 - 20px / 3 * 4);
			flex-grow: 1;
		}
	}

	.contact {
		div {
			width: calc(100% / 2 - 20px / 1 * 2);
			flex-grow: 1;
		}
	}
}